<section class='card'>
  <a href='/blog/{{id}}'>
    <header><div class="d-flex justify-content-between"</div><h5 class='heading-title mx-3'>{{name}}</h5>
        <h5 class='heading-createdby me-3'>Posted By : {{user.name}}
          on
          {{format_date dateCreated}}</h5></div>
          </header>
  </a>
  <p class="mx-4 px-1 py-3">{{description}}</p>

</section>