<section class='card clearfix'>
  <a href='/post/{{id}}'>
    <header><div class='d-flex justify-content-between'><h5
          class='heading-title mx-3'
        >{{title}}</h5>
        <h5 class='heading-createdby me-3'>Posted by
          {{user.name}}
          on
          {{format_date dateCreated}}</h5></div>
    </header>

    <div id='over_flow'>
      <p class='mx-4 px-1 my-3'>{{description}}</p>
    </div>
  </a>
</section>