<section class='card'>
  <a href='/blog/{{id}}'>
    <header>{{name}}
      <p class='heading-createdby'>Posted By:
        {{user.name}}
        on
        {{dateCreated}}</p></header>
  </a>
  <p>{{description}}</p>

</section>