<section class='card'>
  <a href='/blog/{{id}}'>
  <header><h5 class='heading-title'>{{name}}</h5>
    <h5 class='heading-createdby'>Posted By:
      {{user.name}}
      on
      {{format_date dateCreated}}</h5>
  </header>
  {{ </a> }}
  <p>{{description}}</p>

</section>